* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: #000;
  font-size: 17px;
  line-height: 153%;
  font-weight: 400;
  background-color: #fff;
  margin: 0;
}

h2,
h3,
h4,
p,
ol,
li,
ul,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: #0068ff;
  font-family: inherit;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}
