.page__container {
  padding-inline: clamp(1rem, -1.8571rem + 14.2857vw, 5rem);
  padding-top: 48px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 100%;
  margin-bottom: clamp(3rem, 1.8571rem + 2.381vw, 4rem);
}

.article-gap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.article__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.article__media {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.article__media-img {
  width: 100vi;
  height: clamp(175px, -0.71px + 54.91vw, 421px);
  margin-inline: calc(-1 * clamp(1rem, -1.8571rem + 14.2857vw, 5rem));
}

.article__media-description {
  font-size: 15px;
  line-height: 160%;
  width: 100%;
}

.article__media-side {
  row-gap: 4px;
}

.article__subtitle {
  font-size: inherit;
}

.article__list-item {
  margin-top: 12px;
  margin-left: 30px;
}

.article__note-wb {
  width: clamp(169px, 18.29px + 47.10vw, 380px);
  margin-left: clamp(32px, 23.43px + 2.68vw, 44px);
}

.article__note-link {
  line-height: 145%;
}

.recommend {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-inline: clamp(1rem, 0.2857rem + 3.5714vw, 2rem);
  padding-block: clamp(1.5rem, 1.3214rem + 0.8929vw, 1.75rem);
  margin-top: 15px;
}

.recommend__title {
  font-size: 19px;
  line-height: 147%;
  margin-bottom: 16px;
}

.recommend__title-underline {
  display: inline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.recommend__list {
  list-style: none;
}

.recommend__list li {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.recommend__card {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.recommend__list li:not(:last-child) .recommend__card {
  min-height: 74px;
}

.recommend__card-text {
  font-size: 17px;
  line-height: 153%;
  align-self: center;
}

.recommend__card-img {
  width: 90px;
  height: 48px;
  align-self: center;
}

.recommend__container {
  display: flex;
  justify-content: space-between;
}

.fabric-description {
  width: clamp(146px, 26.00px + 37.50vw, 314px);
}

.article__quote {
  position: relative;
  padding-left: 16px;
}

.article__quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  bottom: 4px;
  width: 1px;
  background-color: #000;
}

.article__quote-footer {
  margin-top: 25px;
}

.author-name {
  font-weight: 700;
  font-size: 15px;
  line-height: 133%;
}

.author-role {
  font-size: 13px;
  line-height: 154%;
}

.article__quote-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.article__quote-author {
  display: flex;
  flex-direction: column;
}

.footer-img {
  width: 40px;
  height: 40px;
}

.paragraph-margin {
  margin-top: 10px;
  margin-bottom: 15px;
}

.article__content-outro {
  margin-top: 12px;
}

.arrow-img {
  width: 158px;
  height: 60px;
  margin-top: -20px;
}

.woman-img {
  width: clamp(10.5625rem, 9.625rem + 4.6875vw, 11.875rem);
}

@media (max-width: 767.9px) {
  .hidden-card {
    display: none;
    visibility: hidden;
  }

  .arrow-img {
    margin-right: -18px;
  }

  .recommend__title {
    min-width: 200px;
  }

  .recommend__list li {
    margin-bottom: 20px;
  }

  .recommend__card-img {
    display: none;
    visibility: hidden;
  }

  .no-bottom-card {
    height: 28px;
  }
}

@media (min-width: 769px) {
  .page__container {
    padding-inline: clamp(5rem, -5.2857rem + 21.4286vw, 14rem);
    padding-top: clamp(3rem, 1.8571rem + 2.381vw, 4rem);
  }

  .article-gap {
    gap: clamp(16px, 11.42px + 0.60vw, 20px);
  }

  .article__title {
    font-size: clamp(1.5rem, 0.6429rem + 1.7857vw, 2.25rem);
    line-height: 111%;
  }

  .article__media-description {
    max-width: 680px;
  }

  .article__media-img {
    margin-inline: calc(-1 * clamp(80px, -85.03px + 21.46vw, 224px));
    height: clamp(421px, 280.04px + 18.33vw, 544px);
  }

  .recommend__title {
    font-size: clamp(1.25rem, 1.1071rem + 0.2976vw, 1.375rem);
  }

  .arrow-img {
    margin-top: -30px;
  }

  .article__quote {
    padding-top: 20px;
    padding-left: 32px;
    margin-bottom: 28px;
  }

  .article__quote-footer {
    margin-left: 5px;
  }

  .fabric-description {
    max-width: 264px;
  }

  .woman-img {
    width: clamp(190px, 105.19px + 11.03vw, 264px);
    min-height: clamp(100px, 54.16px + 5.96vw, 140px);
  }
}

@media (min-width: 1024px) {
  .article__media-img {
    width: 100%;
    margin-inline: 0;
  }
}

@media (min-width: 1440px) {
  .article {
    display: grid;
    grid-template-columns: clamp(609px, 527.63px + 10.58vw, 680px) clamp(112px, -62.20px + 22.65vw, 264px);
    gap: 48px;
  }

  .article-gap {
    row-gap: 20px;
  }

  .article__media {
    margin-left: 0;
  }

  .article__media-product {
    grid-column: 1/3;
  }

  .article__content-top {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .article__content-bottom {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .article__note-wb {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-bottom: 22px;
    margin-left: 0;
    align-self: end;
    width: 264px;
    line-height: 120%;
  }

  .recommend {
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-top: 28px;
    width: 680px;
    margin-inline: 0;
  }

  .article__content-beginning {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .article__content-cost {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .article__media-side {
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: 12px;
  }

  .article__content-practice {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .article__content-main {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .article__content-quote {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .article__content-outro {
    grid-column: 1/2;
    grid-row: 6/7;
    margin-top: 0;
  }
}
