.page {
  max-width: 1440px;
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: clamp(3rem, 1.8571rem + 2.381vw, 4rem);
}

.article-product {
  margin-top: 48px;
}

.article-wb {
  gap: 15px;
}

.article-practice {
  gap: 16px;
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: clamp(1rem, -1.8571rem + 14.2857vw, 5rem);
}

.article__title {
  font-size: 24px;
  font-weight: 700;
}

.article__media {
  display: flex;
  flex-direction: column;
}

.article__media-img {
  width: 100%;
  height: 100%;
  display: block;
}

.article__media-description {
  font-size: 15px;
  line-height: 160%;
  margin-top: 8px;
}

.article__subtitle {
  font-size: inherit;
}

.article__list-item {
  margin-top: 12px;
  margin-left: 30px;
}

.article__note-wb {
  max-width: clamp(13.5625rem, 0.75rem + 64.0625vw, 31.5rem);
  padding-left: clamp(3rem, -0.3929rem + 16.9643vw, 7.75rem);
}

.article__note-link {
  line-height: 145%;
}

.recommend {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-inline: clamp(1rem, 0.2857rem + 3.5714vw, 2rem);
  padding-bottom: clamp(1.5rem, 1.3214rem + 0.8929vw, 1.75rem);
  margin-inline: clamp(1rem, -1.8571rem + 14.2857vw, 5rem);
  margin-top: 15px;
}

.recommend__title {
  font-size: 19px;
  line-height: 147%;
  margin-bottom: 16px;
}

.recommend__title-underline {
  display: inline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.recommend__list {
  list-style: none;
}

.recommend__list li {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.recommend__card {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.recommend__list li:not(:last-child) .recommend__card {
  min-height: 74px;
}

.recommend__card-text {
  font-size: 17px;
  line-height: 153%;
  align-self: center;
}

.recommend__card-img {
  width: 90px;
  height: 48px;
  align-self: center;
}

.recommend__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.article__quote {
  position: relative;
  padding-left: 16px;
}

.article__quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  bottom: 4px;
  width: 1px;
  background-color: #000;
}

.article__quote-footer {
  margin-top: 25px;
}

.author-name {
  font-weight: 700;
  font-size: 15px;
  line-height: 133%;
}

.author-role {
  font-size: 13px;
  line-height: 154%;
}

.article__quote-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.article__quote-author {
  display: flex;
  flex-direction: column;
}

.footer-img {
  width: 40px;
  height: 40px;
}

.paragraph-margin {
  margin-top: 10px;
  margin-bottom: 15px;
}

.article__media-side {
  padding-left: clamp(3rem, 0.1429rem + 14.2857vw, 7rem);
}

.article__content-outro {
  margin-top: 8px;
}

.fabric-description {
  width: 314px;
}

.arrow-img {
  width: 158px;
  height: 60px;
  margin-top: -20px;
}

.woman-img {
  width: clamp(10.5625rem, 9.625rem + 4.6875vw, 11.875rem);
}

@media (max-width: 767.9px) {
  .article__content {
    gap: 15px;
  }

  .article-practice {
    gap: 20px;
  }

  .hidden-card {
    display: none;
    visibility: hidden;
  }

  .arrow-img {
    margin-right: -18px;
  }

  .recommend__title {
    min-width: 200px;
  }

  .recommend__list li {
    margin-bottom: 20px;
  }

  .recommend__card-img {
    display: none;
    visibility: hidden;
  }

  .no-bottom-card {
    height: 28px;
  }

  .fabric-description {
    max-width: 169px;
  }
}

@media (min-width: 769px) {
  .article {
    display: grid;
    grid-template-columns: 680px auto;
    row-gap: 48px;
    padding-inline: clamp(5rem, -5.2857rem + 21.4286vw, 14rem);
  }

  .article-product {
    margin-top: clamp(3rem, 1.8571rem + 2.381vw, 4rem);
  }

  .article__content {
    gap: 20px;
    padding-inline: 0;
  }

  .article-wb {
    gap: 20px;
  }

  .article-practice {
    gap: 18px;
  }

  .article__title {
    font-size: clamp(1.5rem, 0.6429rem + 1.7857vw, 2.25rem);
    line-height: 111%;
  }

  .article__media {
    grid-column: 1/3;
  }

  .article__media-description {
    max-width: 680px;
  }

  .article__media-img {
    max-height: 544px;
    max-width: 992px;
  }

  .article__content-top {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .article__content-bottom {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .article__note-wb {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 26px;
    padding-bottom: 22px;
    align-self: end;
    max-width: 292px;
    line-height: 120%;
  }

  .recommend {
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-top: 28px;
    width: 680px;
    margin-inline: 0;
  }

  .recommend__container {
    padding-top: 28px;
  }

  .recommend__title {
    font-size: clamp(1.25rem, 1.1071rem + 0.2976vw, 1.375rem);
  }

  .arrow-img {
    margin-top: -30px;
  }

  .article__content-beginning {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .article__content-cost {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .article__media-side {
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 0;
  }

  .article__content-practice {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .article__content-main {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .article__content-quote {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .article__quote {
    padding-top: 25px;
    padding-left: 32px;
    margin-bottom: 30px;
  }

  .article__quote-footer {
    margin-left: 5px;
  }

  .article__content-outro {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .fabric-description {
    max-width: 264px;
  }

  .woman-img {
    width: 264px;
    height: 140px;
  }
}
